{% extends 'front-base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{app.request.basepath}}/css/artwork.css">{% endblock %}
{% block body %}

    <div class="wrapper">
        <main>
            <div class="row">
                <section class="map">
                    <div class="col-md-6">
                        <img class="img-map"
                             src="{{ app.request.basepath }}/uploads/{{ map }}"
                             alt="map-museum"><!-- Carte du musée-->
                    </div>
                </section>
                <div class="col-md-6">
                    <section class="picture-artwork">
                        <img class="w-100" src="{{app.request.basepath}}/uploads/809d741d948ff84be27b289c95c8745e.jpeg"
                             alt="le-penseur">
                        <h1 class="text-center">{{ currentMark.name }}<!--Titre de
                        l'oeuvre--></h1>
                    </section>

                    <section class="description-artwork">
                        <article>
                            <p>{{ description.label }}<!-- Description de
                            l'oeuvre--></p>
                        </article>
                    </section>
                </div>
            </div>
        </main>

        <footer>
            <div id="btn-footer" class="row">
                <div class="col-md-6">
                    <div class="btn-group" role="group" aria-label="navigation">
                        <button type="button" class="btn btn-group-lg btn-primary">
                            <a href="#">Description</a>
                        </button>
                        <button type="button" class="btn btn-group-lg btn-primary">
                            <a href="#">Retour carte</a>
                        </button>
                        <button type="button" class="btn btn-group-lg btn-primary">
                            <a href="{{ path("quiz") }}">Quiz</a>
                        </button>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- wrapper -->
{% endblock %}