{% extends 'front-base.html.twig'  %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style-route.css">{%
    endblock %}
{% block body %}
<section class="picture-museum">
    <div class="section-route container-fluid">
        <div class="row">
            <div id="museum-map" class="col-12 col-md-6">
                <img  id="map"
                      class="img-fluid" src="{{ app.request.basepath }}/uploads/{{ map }}"
                      alt="carte image">
                {% for id in idMark %}
                <a class="repere-map" id="repere-{{ id.id }}"
                   data-coordx ="{{ id.coordinateX }}"
                   data-coordy ="{{ id.coordinateY }}"
                   href="http://localhost:8000/mymuseum/artwork/{{ id.id }}"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                {% endfor %}
            </div>

            <div class="museum-wrapper col col-md-6 text-center">
                <div class="museum-stats">
                    <div class="score text-center">
                        <h2 class="h4">Score</h2>
                        <p>0/100</p>
                    </div>

                    <div class="progression text-center">
                        <h2 class="h4">Progression</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            </div>
                        </div> <!-- progress -->
                    </div> <!-- progression -->
                </div> <!-- museum stats -->

                <div class="text">
                    <p>Sélectionnez un point suivant sur la carte pour continuer votre
                       visite
                    </p>
                </div>
            </div> <!-- wrapper col -->
        </div> <!-- row  -->
    </div>  <!-- container -->
</section>

{% endblock %}
{% block javascripts %}<script src="{{ app.request.basepath }}/js/scriptRepere.js"></script>{% endblock %}



