{% extends 'front-base.html.twig' %}



{% block title %}MyMuseum{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ app.request.basepath }}/css/style-home.css">{% endblock %}

{% block body %}
    <section class="picture-museum">
    <div class="section-home container-fluid">
        <div class="row">
            <div id="museum-img" class="col-12 col-md-6">
                <img src="http://lorempicsum.com/nemo/627/300/4" class="img-fluid" alt="museum">
            </div>
            <div class="col-12 col-md-6 text-home">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras iaculis iaculis viverra. Vivamus sed dui arcu.
                    Integer ex ex, consequat non rutrum id, aliquet ac justo.
                    Curabitur at ipsum quis tellus rutrum auctor volutpat a ligula.
                    Cras molestie id turpis in ultrices. Nulla facilisi.
                    Aenean molestie efficitur tempus. Ut viverra ipsum orci, sed dictum lacus gravida vel.
                </p>


                    {{ form_start(formFirstname, {'attr': {'class': 'form-home'}}) }}
                <div class="form-group">
                    {{ form_label(formFirstname.firstName, "Votre prénom") }}
                    {{ form_widget(formFirstname.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                    {{ form_widget(formFirstname.submit, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                    {{ form_end(formFirstname) }}

            </div>
        </div>
    </div>

</section>
{% endblock %}