{% extends 'front-base.html.twig' %}



{% block title %}MyMuseum{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style-home.css">
{% endblock %}


{% block body %}
        <section id="jumbotron" class="picture-museum">
            <div id="bg-jumbotron">
                <h1>My Museum</h1>
                <div class="section-home container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-12 text-home">
                            <div id="start">
                                <button type="button" class="btn btn-lg" id="btn-start">Bienvenue</button>
                            </div>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras iaculis iaculis viverra. Vivamus sed dui arcu.
                                Integer ex ex, consequat non rutrum id, aliquet ac justo.
                                Curabitur at ipsum quis tellus rutrum auctor volutpat a ligula.
                                Cras molestie id turpis in ultrices.
                            </p>
                            <div class="form-home">
                                    {{ form_start(formFirstname, {'attr': {'class': 'form-home'}}) }}
                                <div class="form-group">
                                    {{ form_label(formFirstname.firstName, "Votre prénom") }}
                                    {{ form_errors(formFirstname.firstName) }}
                                    {{ form_widget(formFirstname.firstName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                    {{ form_widget(formFirstname.submit, {'attr': {'class': 'btn btn-lg'}}) }}
                                    {{ form_end(formFirstname) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block javascripts %}
<script src="{{ app.request.basepath }}/js/scriptHome.js"></script>
{% endblock %}