{% extends 'front-base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{app.request.basepath}}/css/quiz.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <main class="row">
            <div id="map" class="col-md-6">
                <section class="map">
                    <img class="img-map img-fluid"
                         src="{{ app.request.basepath }}/uploads/{{ map }}" alt="map-museum">
                </section>
            </div>

            <div id="form" class="col col-md-6">
                <section class="picture-quiz">
                    <img class="w-100 img-fluid" src="{{app.request
                    .basepath}}/uploads/87bb5fc8031f7b37261a975080e39bfb.jpeg{#{ currentMark.image }#}"
                         alt="image de l'oeuvre">
                    <h1 class="text-center">Quiz</h1>
                </section>

                <section id="quiz">
                    <p>{{ question.label }}<!-- Ici la question--></p>

                    <!-- Début du formulaire -->
                    {{ form_start(formQ) }}
                    <div class="form-group row">
                        <div class="form-check">

                            <div class="form-check-input">
                            {{ form_widget(formQ.answers
                            ) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_widget(formQ.submit,
                            {'attr': {'class': 'btn'}}
                        ) }}
                    </div>
                    {{ form_end(formQ) }}
                    <!-- fin du formulaire -->
                </section>
            </div><!-- col md 6-->
        </main>
    </div><!--container-->
{% endblock %}