{% extends 'front-base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{app.request.basepath}}/css/score_quiz.css">{% endblock %}

{% block body %}
<main>
    <section class="picture-museum">
        <div class="section-route container-fluid">
            <div class="row">
                <div id="museum-map" class="col-12 col-md-6">
                    <img  id="map"
                          class="img-fluid" src="{{ app.request.basepath }}/uploads/{{ map }}"
                          alt="carte image">
                    {% for id in idMark %}
                        <a class="repere-map" id="repere-{{ id.id }}"
                           data-coordx ="{{ id.coordinateX }}"
                           data-coordy ="{{ id.coordinateY }}"
                           href="http://localhost:8000/mymuseum/artwork/{{ id.id }}"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                    {% endfor %}
                </div>

                <div class="museum-wrapper col col-md-6 text-center">
                    <div class="museum-stats">
                        <div class="score text-center">
                            <h2 class="h4">Score</h2>
                            <p>{{ message }}</p>
                            <p>Votre score : {{ score }} / {{ answeredQuestions }}</p>
                        </div>

                        <div class="progression text-center">
                            <h2 class="h4">Progression</h2>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: {{ progression }}%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text">
                        <p>Sélectionnez un point suivant sur la carte pour continuer votre
                           visite</p>
                    </div>
                </div><!-- museum-wrapper-->
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block javascripts %}<script src="{{ app.request.basepath }}/js/scripteRepere.js"></script>{% endblock %}