{% extends 'front-base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ app.request.basepath }}/css/style-select.css">{% endblock %}

{% block body %}
<section class="picture-museum">
    <div class="section-route container-fluid">
        <div class="row">
            <div id="museum-img" class="col-12 col-md-6">
                <img src="http://lorempicsum.com/nemo/627/300/4" class="img-fluid" alt="museum">
            </div>
            <div class="col-12 col-md-6 form-route ">
                <h1 class="h2 text-center">Je sélectionne mon parcours</h1>
                {{ form_start(formRoute) }}
                    <div class="form-group">
                        {{ form_widget(formRoute.route,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(formRoute.Description,
                            {'attr': {'class': 'btn btn-warning btn-lg'}}
                        ) }}
                    </div>

                <p class="text-center">
                    {% if description is defined %}
                        {{ description }}
                    {% endif %}
                </p>
                {{ form_end(formRoute) }}
                <button id="btn-start" type="button" class="btn btn-primary btn-lg
                route-btn fixed-bottom">
                    <a class="link-route" href="#">Démarrer</a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
