{% extends 'front-base.html.twig' %}

    {% block title %}Select route MyMuseum{% endblock %}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/style-select.css">
    {% endblock %}

{% block body %}
    <section id="jumbotron" class="picture-museum">
        <div id="bg-jumbotron">
            <h1>My Museum</h1>
            <h2>Bienvenue {{ userName }}, sélectionnez votre parcours</h2>
            <div class="section-route container-fluid">
                <div class="row">
                    <div id="col-route" class="col-12">

                        {#{{ form(formSelect, {'attr': {'novalidate': 'novalidate'}}) }}#}
                        {{ form_start(formSelectRoute, {'attr': {'class': 'form-route'}}) }}
                        <div id="select-route" class="form-group">
                            {{ form_widget(formSelectRoute.route, {'attr': {'class': 'select-route form-control'}}) }}
                        </div>

                        <div id="display-route" class="text-center" data-spy="scroll"
                             data-target="#select-route" data-offset="0">
                            <p class="border-desc">
                                <!-- affichage de la description -->
                            </p>
                        </div>
                        {{ form_widget(formSelectRoute.submit,
                            {'attr':{'class':'btn btn-lg btn-start
                            btn-block'}}
                        ) }}
                        {{ form_end(formSelectRoute) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ app.request.basepath }}/js/ajax2.js">{% endblock %}