{% extends 'front-base.html.twig' %}

    {% block title %}Select route MyMuseum{% endblock %}
    {% block stylesheets %}<link rel="stylesheet" href="{{ app.request.basepath }}/css/style-select.css">{% endblock %}

{% block body %}
<section class="picture-museum">
    <div class="section-route container-fluid">
        <div class="row">
            <div id="museum-img" class="col-12 col-md-6">
                <img src="http://lorempicsum.com/nemo/627/300/4" class="img-fluid" alt="museum">
            </div>
            <div id="route-info" class="col-12 col-md-6">
                <h1 class="h2 text-center">Je sélectionne mon parcours</h1>
                {#{{ form(formSelect, {'attr': {'novalidate': 'novalidate'}}) }}#}
                {{ form_start(formSelectRoute, {'method': 'GET', 'attr': {'class': 'form-route'}}) }}
                <div id="select-route"class="form-group">
                    {{ form_widget(formSelectRoute.route, {'attr': {'class': 'select-route form-control'}}) }}
                </div>

                <div id="display-route" class="text-center" data-spy="scroll" data-target="#select-route" data-offset="0">
                   <p class="border-desc">
                       <!-- affichage de la description -->
                   </p>
                </div>
                <button type="button" id="btn-start" class="btn btn-primary btn-lg route-btn btn-block"><a class="link-route" href="{{ path('begin_route') }}">Démarrer</a></button>
                {{ form_end(formSelectRoute) }}
            </div>
        </div>
    </div>

</section>
{% endblock %}
{% block javascripts %}<script src="{{ app.request.basepath }}/js/ajax2.js">{% endblock %}