{% extends '/Back-Office/BackOffice-v2/base.back2.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="{{ app.request.basepath }}/css/delete-marks.css">{% endblock %}

        {% block body %}

<div id="col-delete" class="col col-10">
    {{ form_start(formMarks) }}
                <h1>Supprimer un repère</h1><br/>
    <div class="form-group col-md-4">
        <h2>{{ form_label(formMarks.name, "Nom du repère") }}</h2>

            {{ form_errors(formMarks.name) }}
            {{ form_widget(formMarks.name, {'attr': {'class': 'form-control'}}) }}

    </div>
    {{ form_end(formMarks) }}
</div>
        {% endblock %}

