{% extends "base.html.twig" %}
{% form_theme formAdd 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <div class="container-fluid">


           <div class="row">  

                    <div class="col-2 bg-primary pt-5"> 
                            
                            <ul class="nav">
                                    <h4 class="text-white">MyMuseum</h4>
                                    <li class="nav-item">
                                        <a class="nav-link active text-white" href="#">Carte</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Repère</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Parcours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Administration</a>
                                    </li>
                            </ul>
                
                    </div>

                    <div class="col-2">
                    </div>

                    <div class="col-6 justify-content-center">

                                                {%  for m in  map  %}

                                                <style>
                                                        .nav
                                                        {
                                                           display:flex;
                                                           flex-direction:column;
                                                        }
                                                        #contenu 
                                                        { 
                                                            position: relative;
                                                            width:1034.5px;
                                                            height:667px;
                                                            overflow: hidden; 
                                                            background-image:url("{{ app.request.basepath }}/uploads/{{ m.map }}");
                                                        } 
                                                        .pointeur
                                                        {
                                                            position: absolute;
                                                            background-image:url("{{ app.request.basepath }}/uploads/p2-m1.png");

                                                        }
                                                        .well
                                                        {
                                                            visibility :"hidden";
                                                        }

                                                </style>

                                                {% endfor %}

                                                <script type="text/javascript">

                                                        var conteneur=document.getElementById("contenu");
                                                        var count=0;

                                                        function addMapMarker(event)
                                                        {
                                                                var x=event.offsetX;
                                                                var y=event.offsetY;
                                                                var PosX= (x-23);
                                                                var PosY= (y-75);
                                                                document.getElementById('add_mark_add_coordinateX').value=PosX;
                                                                document.getElementById('add_mark_add_coordinateY').value=PosY;
                                                                count ++;
                                                                var pointeurs =document.getElementById("contenu");
                                                                var p = document.createElement("div");
                                                                p.setAttribute("class","pointeur");
                                                                p.setAttribute("id","pointeur_"+count);
                                                                p.style.width= 47 + "px";
                                                                p.style.height=75 + "px";
                                                                p.style.color="red";
                                                                p.style.left=PosX + 'px';
                                                                p.style.top=PosY + 'px';
                                                                pointeurs.appendChild(p);

                                                        }
                                                    
                                                </script>


                                                <div class="card w-100 pt-0">
                                                        <div id="contenu" onclick="addMapMarker(event);">
                                                        </div>
                                                </div>  



                                                <div class="well">

                                                                {{ form_start(formAdd) }}
                                                                {{ form_label(formAdd.questions, "Liste des questions sur l'oeuvre") }}
                                                                <div class="form-group">
                                                                    {{ form_label(formAdd.name, "Nom de l'oeuvre") }}
                                                                    {{ form_errors(formAdd.name) }}
                                                                    {{ form_widget(formAdd.name) }}
                                                                </div>
                                                                <div>
                                                                    {{ form_label(formAdd.image, "Image illustrative de l'oeuvre") }}
                                                                    {{ form_errors(formAdd.image) }}
                                                                    {{ form_widget(formAdd.image) }}
                                                                </div>
                                                                {{ form_label(formAdd.descriptions, "Saisie des descriptions de l'oeuvre") }}
                                                                <div class="p-4">
                                                                    {{ form_errors(formAdd.descriptions) }}
                                                                    {{ form_widget(formAdd.descriptions) }}
                                                                    <a href="#" id="add_description" class="btn btn-success mt-3">Ajouter une description</a>
                                                                </div>
                                                                {{ form_label(formAdd.descriptions, "Saisie des questions sur l'oeuvre") }}
                                                                <div class="p-4">
                                                                    {{ form_errors(formAdd.questions) }}
                                                                    {{ form_widget(formAdd.questions) }}
                                                                    <a href="#" id="add_question" class="btn btn-success mt-3">Ajouter une question</a>
                                                                </div>
                                                                {{ form_end(formAdd) }}


                                                </div>


                                                   
                    </div> 
            </div> 
    </div>                                 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            //Gestion des questions

            var $container = $('div#add_mark_add_questions');

            var count = $container.find(':input').length;

            $('#add_question').click(function(e) {
                addQuestion($container);

                e.preventDefault();
                return false;
            });

            if (count == 0)
            {
                addQuestion($container);
            } else
            {
                $container.children('div').each(function()
                {
                    addDeleteLink($(this));
                });
            }

            function addQuestion($container)
            {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Question n°' + (count+1))
                    .replace(/__name__/g, count)
                ;

                var $prototype = $(template);

                addDeleteLink($prototype);

                $container.append($prototype);

                count++;
            }

            function addDeleteLink($prototype)
            {

                var $delete = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($delete);

                $delete.click(function(e)
                {
                    count--;
                    $prototype.remove();

                    e.preventDefault();
                    return false;
                });
            }


            //Gestion des descriptions

            var $descriptionContainer = $('div#add_mark_add_descriptions');
            var countDescription = $descriptionContainer.find(':input').length;


            $('#add_description').click(function(e) {
                addDescription($descriptionContainer);

                e.preventDefault();
                return false;
            });


            function addDescription($container)
            {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Description' + (countDescription+1))
                    .replace(/__name__/g, countDescription)
                ;

                var $prototype = $(template);

                addDeleteLink($prototype);

                $descriptionContainer.append($prototype);

                countDescription++;
            }
        });
    </script>        
{% endblock %}